@tailwind base;
@tailwind components;
@tailwind utilities;

@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
@import "react-datepicker/dist/react-datepicker.css";
@import "react-dropdown/style.css";
@import "~react-image-gallery/styles/scss/image-gallery.scss";
.top-progress {
	animation: loading 2s ease-in-out;
	width: 90%;
}

:root {
	--primary-color: #AFCC36;
	--text-primary: #212529;
	--text-secondary: #777D93;
	--text-main: #1C75BC
}

@layer utilities {
	@media (min-width: 1536px) {
		.container {
			max-width: 1320px;
		}
	}
	.h-600 {
		height: 600px;
	}
	.text-black {
		color: #000000;
	}
	.primary-bg {
		background: var(--primary-color);
	}
	.color-primary {
		color: var(--primary-color);
	}
	.hover-bg {
		background: #f0f0f0;
	}
	.secondary-bg {
		background: #ffffff;
	}

	.text-secondary {
		color: rgba(0, 0, 0, 0.25);
	}
	.text-primary {
		color: var(--primary-color);
	}
}
@keyframes loading {
	0% {
		width: 0;
	}
	100% {
		width: 90%;
	}
}
@media (min-width: 1440px) {
	.container {
		max-width: 1169px;
	}
}

.required-label {
	&::after {
		content: "*";
		font-size: 16px;
		line-height: 10px;
		color: red;
		vertical-align: middle;
		padding-left: 5px;
	}
}
.error-text {
	position: absolute;
	color: red;
	font-size: 12px;
	text-align: left;
}
.react-datepicker__input-container {
	height: 100%;
	input {
		width: 100%;
		height: 100%;
		background: #f1f3f5;
		//border-radius: 8px 0px 0px 8px;
		border: none;
		&:focus {
			outline: none;
			box-shadow: none;
		}
	}
}
* {
	&::selection {
		background: var(--primary-color);
		color: #ffffff;
	}
	&::-moz-selection {
		background: var(--primary-color);
		color: #ffffff;
	}
	//&::-webkit-selection {
	//	background:#FA5252;
	//	color:#FFFFFF;
	//}
}
.slick-dots li.slick-active button:before {
	color: #ff1818;
	font-size: 12px;
	opacity: 1;
}
.slick-dots li button:before {
	color: #f2f3f3;
	font-size: 12px;
	opacity: 1;
}
.slick-dots {
	bottom: -35px;
}
 .image-gallery-right-nav {
	 color: var(--primary-color) !important;
}
.image-gallery-left-nav {
	color: var(--primary-color) !important;
}
.bg-cover{
	background: #0000003b;
}
@media screen and (min-width: 1440px){
	.container{
		max-width: 1198px!important;
	}
}
.bg-gradient-gray{
	background: linear-gradient(0deg, rgba(20, 33, 65, 0.06), rgba(20, 33, 65, 0.06)), #FFFFFF;
}
.bg-gray{
	background-color: #C3C7CC;
}
.text-primary{
	color: var(--primary-color)!important;
}
.text-normal{
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	color: #18202A;
}
.text-white{
	color: #FFFFFF;
}
.link-download{
	&:hover{
		color: var(--primary-color);
	}
}

.background-primary {
	background-color: var(--primary-color);
}

a {
	transition: .2s;
	:hover {
		color: var(--primary-color);
	}
}

.button-type-2 {
	border-radius: 40px;
}

.layout-sidebar {
	display: flex;
	gap: 30px;
	padding-top: 20px;
	padding-bottom: 40px;
	width: 100%;
	.content {
		width: calc(100% - 240px);
	}
	.sidebar {
		width: 240px;
	}
}

@media screen and (max-width: 768px) {
	.container {
		padding-left: 15px;
		padding-right: 15px;
	}
	.layout-sidebar {
		display: flex;
		flex-direction: column;
		gap: 30px;
		.content {
			width: 100%;
		}
		.sidebar {
			width: 100%;
		}
	}
}

.card-type-2 {
	margin-bottom: 40px;
	.heading {
		padding-bottom: 6px;
		margin-bottom: 16px;
		border-bottom: 2px solid #A9CBED;
		.title {
			font-size: 32px;
			font-weight: 700;
			line-height: 48px;
			text-align: left;
			color: var(--text-primary);
		}
		.sub-title {
			font-size: 20px;
			font-weight: 700;
			line-height: 30px;
			text-align: left;
			color: var(--text-primary);
		}
	}
}

.border-bottom {
	border-bottom: 0.5px solid #A9CBED;
}

.heading-1 {
	font-size: 24px;
	font-weight: 700;
	line-height: 34.8px;
	text-align: left;
	color: var(--text-primary);
}

.nav-link {
	border: 1px solid #A9CBED;
	border-radius: 8px;
	padding: 16px 20px;
	&.no-border {
		border: 0;
		border-radius: 0px;
		padding: 0;
	}

	.item {
		padding-bottom: 16px;
		margin-bottom: 16px;
		border-bottom: 1px solid #A9CBED;
		&:last-child {
			padding-bottom: 0;
			margin-bottom: 0;
			border-bottom: none;
		}
		.link {
			font-size: 15px;
			font-weight: 700;
			line-height: 22.5px;
			text-align: left;
			text-decoration: underline;
		}

		.btn-link {
			width: 40px;
			height: 40px;
			gap: 10px;
			border-radius: 50px;
			background-color: #EAF2FA;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
}

.blog-content {
	line-height: 32px;
	text-align: justify;

	h3 {
		font-size: 18px;
		font-weight: 700;
		line-height: 26.1px;
		text-align: left;
		color: var(--text-primary);
		margin-bottom: 1em;
	}

	h4 {
		font-size: 16px;
		font-weight: 700;
		line-height: 23.2px;
		letter-spacing: 0.01em;
		color: var(--text-primary);
		margin-bottom: .5em;
		margin-top: .5em;
	}

	a {
		color: var(--text-main);
		text-decoration: underline;
	}

	table {
		width: 100%;
		border-collapse: collapse;
		margin-bottom: 20px;
		tr {
			border-bottom: 1px solid #D6D6D5;
		}
		th {
			font-size: 16px;
			font-weight: 700;
			line-height: 23.2px;
			letter-spacing: 0.01em;
			text-align: center;
			color: var(--text-primary);
			text-align: center;
			padding: 12px;
		}
		td {
			color: var(--text-primary);
			text-align: center;
			font-size: 16px;
			font-weight: 400;
			line-height: 23.2px;
			letter-spacing: 0.01em;
			text-align: center;
			padding: 12px;
		}
	}
}

@media (max-width: 767px) {
	.ds-so-tapchi .item .link {
		font-size: 16px;
	}
	.banner-home {
		flex-direction: column !important;
		.content, .banner-image {
			width: 100% !important;
		}
	}

	.logo-img {
		filter: brightness(10);
	}

	.card-type-2 {
		margin-bottom: 40px;
		.heading {
			padding-bottom: 6px;
			margin-bottom: 16px;
			border-bottom: 2px solid #A9CBED;
			.title {
				font-weight: 700;
				line-height: 32px;
				text-align: left;
				color: var(--text-primary);
			}
			.sub-title {
				font-size: 16px;
				font-weight: 700;
				line-height: 30px;
				text-align: left;
				color: var(--text-primary);
			}
		}
	}
}


.ps-menuitem-root.active {
	a {
		color: var(--primary-color);
	}
}